In [106]:
import pandas as pd
import numpy as np
from scipy.stats import mode

In [107]:
# Load dataset
file_path = "../Interim/cleaned_food_prices.csv"
df = pd.read_csv(file_path)

In [108]:
# View the first few rows of the dataset
print(df.head())

       country                            Region Province  City        lat  \
0  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
1  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
2  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
3  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
4  Philippines  Cordillera Administrative region     Abra  Abra  17.600651

          lon        Date  year  month  beans  ...  l_tomatoes  c_tomatoes  \
0  120.619362  2007-01-01  2007      1    NaN  ...       26.03       27.84
1  120.619362  2007-02-01  2007      2    NaN  ...       26.31       26.82
2  120.619362  2007-03-01  2007      3    NaN  ...       24.95       26.21
3  120.619362  2007-04-01  2007      4    NaN  ...       24.93       26.74
4  120.619362  2007-05-01  2007      5    NaN  ...       26.30       27.19

   inflation_tomatoes  trust_tomatoes  o_food_price_index  h_food_price_index  \
0                 NaN             8.0                0.68                0.69
1                 NaN             8.0                0.68                0.69
2                 NaN             8.0                0.66                0.67
3                 NaN             8.0                0.66                0.67
4                 NaN             8.0                0.67                0.68

   l_food_price_index  c_food_price_index  inflation_food_price_index  \
0                0.67                0.68                         NaN
1                0.67                0.67                         NaN
2                0.65                0.66                         NaN
3                0.65                0.66                         NaN
4                0.66                0.67                         NaN

   trust_food_price_index
0                     9.4
1                     9.4
2                     9.4
3                     9.4
4                     9.4

[5 rows x 99 columns]

In [109]:
# Check the structure and datatypes
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23653 entries, 0 to 23652
Data columns (total 99 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       23653 non-null  object
 1   Region                        23653 non-null  object
 2   Province                      23653 non-null  object
 3   City                          23653 non-null  object
 4   lat                           23436 non-null  float64
 5   lon                           23436 non-null  float64
 6   Date                          23653 non-null  object
 7   year                          23653 non-null  int64
 8   month                         23653 non-null  int64
 9   beans                         2384 non-null   float64
 10  cabbage                       3696 non-null   float64
 11  carrots                       3747 non-null   float64
 12  eggs                          5391 non-null   float64
 13  garlic                        3020 non-null   float64
 14  meat_beef_chops               2702 non-null   float64
 15  meat_chicken_whole            2601 non-null   float64
 16  meat_pork                     2944 non-null   float64
 17  onions                        5548 non-null   float64
 18  potatoes                      3113 non-null   float64
 19  rice                          6554 non-null   float64
 20  tomatoes                      2399 non-null   float64
 21  o_beans                       23653 non-null  float64
 22  h_beans                       23653 non-null  float64
 23  l_beans                       23653 non-null  float64
 24  c_beans                       23653 non-null  float64
 25  inflation_beans               22345 non-null  float64
 26  trust_beans                   23653 non-null  float64
 27  o_cabbage                     23653 non-null  float64
 28  h_cabbage                     23653 non-null  float64
 29  l_cabbage                     23653 non-null  float64
 30  c_cabbage                     23653 non-null  float64
 31  inflation_cabbage             22345 non-null  float64
 32  trust_cabbage                 23653 non-null  float64
 33  o_carrots                     23653 non-null  float64
 34  h_carrots                     23653 non-null  float64
 35  l_carrots                     23653 non-null  float64
 36  c_carrots                     23653 non-null  float64
 37  inflation_carrots             22345 non-null  float64
 38  trust_carrots                 23653 non-null  float64
 39  o_eggs                        23653 non-null  float64
 40  h_eggs                        23653 non-null  float64
 41  l_eggs                        23653 non-null  float64
 42  c_eggs                        23653 non-null  float64
 43  inflation_eggs                22345 non-null  float64
 44  trust_eggs                    23653 non-null  float64
 45  o_garlic                      23653 non-null  float64
 46  h_garlic                      23653 non-null  float64
 47  l_garlic                      23653 non-null  float64
 48  c_garlic                      23653 non-null  float64
 49  inflation_garlic              22345 non-null  float64
 50  trust_garlic                  23653 non-null  float64
 51  o_meat_beef_chops             23653 non-null  float64
 52  h_meat_beef_chops             23653 non-null  float64
 53  l_meat_beef_chops             23653 non-null  float64
 54  c_meat_beef_chops             23653 non-null  float64
 55  inflation_meat_beef_chops     22345 non-null  float64
 56  trust_meat_beef_chops         23653 non-null  float64
 57  o_meat_chicken_whole          23653 non-null  float64
 58  h_meat_chicken_whole          23653 non-null  float64
 59  l_meat_chicken_whole          23653 non-null  float64
 60  c_meat_chicken_whole          23653 non-null  float64
 61  inflation_meat_chicken_whole  22345 non-null  float64
 62  trust_meat_chicken_whole      23653 non-null  float64
 63  o_meat_pork                   23653 non-null  float64
 64  h_meat_pork                   23653 non-null  float64
 65  l_meat_pork                   23653 non-null  float64
 66  c_meat_pork                   23653 non-null  float64
 67  inflation_meat_pork           22345 non-null  float64
 68  trust_meat_pork               23653 non-null  float64
 69  o_onions                      23653 non-null  float64
 70  h_onions                      23653 non-null  float64
 71  l_onions                      23653 non-null  float64
 72  c_onions                      23653 non-null  float64
 73  inflation_onions              22345 non-null  float64
 74  trust_onions                  23653 non-null  float64
 75  o_potatoes                    23653 non-null  float64
 76  h_potatoes                    23653 non-null  float64
 77  l_potatoes                    23653 non-null  float64
 78  c_potatoes                    23653 non-null  float64
 79  inflation_potatoes            22345 non-null  float64
 80  trust_potatoes                23653 non-null  float64
 81  o_rice                        23653 non-null  float64
 82  h_rice                        23653 non-null  float64
 83  l_rice                        23653 non-null  float64
 84  c_rice                        23653 non-null  float64
 85  inflation_rice                22345 non-null  float64
 86  trust_rice                    23653 non-null  float64
 87  o_tomatoes                    23653 non-null  float64
 88  h_tomatoes                    23653 non-null  float64
 89  l_tomatoes                    23653 non-null  float64
 90  c_tomatoes                    23653 non-null  float64
 91  inflation_tomatoes            22345 non-null  float64
 92  trust_tomatoes                23653 non-null  float64
 93  o_food_price_index            23653 non-null  float64
 94  h_food_price_index            23653 non-null  float64
 95  l_food_price_index            23653 non-null  float64
 96  c_food_price_index            23653 non-null  float64
 97  inflation_food_price_index    22345 non-null  float64
 98  trust_food_price_index        23653 non-null  float64
dtypes: float64(92), int64(2), object(5)
memory usage: 17.9+ MB
None

In [110]:
# Get summary statistics of numerical columns
print(df.describe())

                lat           lon          year         month        beans  \
count  23436.000000  23436.000000  23653.000000  23653.000000  2384.000000
mean      11.709358    122.876852   2015.543779      6.474654    98.049673
std        3.640368      1.949177      5.216106      3.464248    15.231500
min        5.029099    118.735278   2007.000000      1.000000    55.490000
25%        8.481003    121.086142   2011.000000      3.000000    87.162500
50%       11.570265    122.851105   2016.000000      6.000000    98.190000
75%       14.716339    124.667869   2020.000000      9.000000   107.500000
max       18.194082    126.207645   2025.000000     12.000000   229.540000

          cabbage      carrots         eggs       garlic  meat_beef_chops  \
count  3696.00000  3747.000000  5391.000000  3020.000000      2702.000000
mean     72.09049    91.267086     7.008577   169.917825       274.926121
std      32.25439    37.874833     1.511605    60.216075        70.702813
min       7.52000    14.200000     3.990000    80.910000       125.330000
25%      46.88000    62.395000     6.000000   131.250000       208.497500
50%      69.50000    85.670000     7.000000   150.600000       281.250000
75%      91.67500   115.660000     8.130000   187.805000       333.750000
max     250.00000   236.250000    25.000000   594.440000       430.000000

       ...    l_tomatoes    c_tomatoes  inflation_tomatoes  trust_tomatoes  \
count  ...  23653.000000  23653.000000        22345.000000    23653.000000
mean   ...     44.823604     47.712646            7.055514        8.519456
std    ...     17.002781     19.381362           22.006638        0.824231
min    ...      7.050000      7.830000          -75.960000        8.000000
25%    ...     34.000000     35.440000           -3.250000        8.000000
50%    ...     39.720000     41.240000            2.930000        8.000000
75%    ...     50.320000     53.540000           14.070000        9.100000
max    ...    161.290000    209.830000          331.740000       10.000000

       o_food_price_index  h_food_price_index  l_food_price_index  \
count        23653.000000        23653.000000        23653.000000
mean             0.976953            0.994561            0.959457
std              0.221319            0.228211            0.215228
min              0.640000            0.650000            0.610000
25%              0.820000            0.830000            0.800000
50%              0.910000            0.920000            0.890000
75%              1.070000            1.090000            1.050000
max              1.810000            1.850000            1.740000

       c_food_price_index  inflation_food_price_index  trust_food_price_index
count        23653.000000                22345.000000            23653.000000
mean             0.977137                    4.042098                9.521046
std              0.223137                    6.929498                0.183176
min              0.640000                  -17.670000                9.400000
25%              0.810000                   -0.720000                9.400000
50%              0.900000                    3.180000                9.400000
75%              1.070000                    7.570000                9.700000
max              1.810000                   44.990000                9.900000

[8 rows x 94 columns]

In [111]:
#dropping columns related to food price index
df_nofpi = df.drop(columns=['o_food_price_index', 'h_food_price_index', 'l_food_price_index', 'c_food_price_index', 'inflation_food_price_index', 'trust_food_price_index'])

In [112]:
# Convert 'Date' column to datetime format
df_nofpi['Date'] = pd.to_datetime(df_nofpi['Date'])

In [113]:
# Check the unique values of the 'Date' column (like ranges)
print(df_nofpi['Date'].min(), df_nofpi['Date'].max())

2007-01-01 00:00:00 2025-01-01 00:00:00

In [114]:
#dropping columns related to inflation
df_noinf = df_nofpi.drop(columns=['inflation_beans','inflation_cabbage', 'inflation_carrots', 'inflation_eggs', 'inflation_garlic', 'inflation_meat_beef_chops', 'inflation_meat_chicken_whole', 'inflation_meat_pork', 'inflation_onions', 'inflation_potatoes', 'inflation_rice', 'inflation_tomatoes'])

In [115]:
#dropping columns related to trust scores
df_cleaned = df_noinf.drop(columns=['trust_beans','trust_cabbage', 'trust_carrots', 'trust_eggs', 'trust_garlic', 'trust_meat_beef_chops', 'trust_meat_chicken_whole', 'trust_meat_pork', 'trust_onions', 'trust_potatoes', 'trust_rice', 'trust_tomatoes'])

In [116]:
# View the dataset after dropping columns
print(df_cleaned.head())

       country                            Region Province  City        lat  \
0  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
1  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
2  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
3  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
4  Philippines  Cordillera Administrative region     Abra  Abra  17.600651

          lon       Date  year  month  beans  ...  l_potatoes  c_potatoes  \
0  120.619362 2007-01-01  2007      1    NaN  ...       34.28       35.26
1  120.619362 2007-02-01  2007      2    NaN  ...       34.21       34.21
2  120.619362 2007-03-01  2007      3    NaN  ...       33.13       33.83
3  120.619362 2007-04-01  2007      4    NaN  ...       33.09       33.85
4  120.619362 2007-05-01  2007      5    NaN  ...       33.44       34.56

   o_rice  h_rice  l_rice  c_rice  o_tomatoes  h_tomatoes  l_tomatoes  \
0   19.88   20.21   19.71   19.95       27.54       29.29       26.03
1   20.03   20.28   19.78   20.24       27.96       29.60       26.31
2   20.39   20.67   20.15   20.67       26.33       27.72       24.95
3   20.86   21.12   20.61   20.90       26.05       27.17       24.93
4   21.03   21.25   20.80   21.20       27.31       28.31       26.30

   c_tomatoes
0       27.84
1       26.82
2       26.21
3       26.74
4       27.19

[5 rows x 69 columns]

In [117]:
# Reshaping from wide to long format (including year and month as part of the identifier)
df_melted = df_cleaned.melt(id_vars=['country', 'Region', 'Province', 'City', 'lat', 'lon', 'Date', 'year', 'month'], var_name='Food_Items', value_name='Price')

In [118]:
# View the dataset after reshaping
print(df_melted.head())

       country                            Region Province  City        lat  \
0  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
1  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
2  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
3  Philippines  Cordillera Administrative region     Abra  Abra  17.600651
4  Philippines  Cordillera Administrative region     Abra  Abra  17.600651

          lon       Date  year  month Food_Items  Price
0  120.619362 2007-01-01  2007      1      beans    NaN
1  120.619362 2007-02-01  2007      2      beans    NaN
2  120.619362 2007-03-01  2007      3      beans    NaN
3  120.619362 2007-04-01  2007      4      beans    NaN
4  120.619362 2007-05-01  2007      5      beans    NaN

## Start of analysis

### 1.Exploratory Data Analysis

In [119]:
print(df_melted['Region'].unique())
print(df_melted['Province'].unique())
print(df_melted['City'].unique())
print(df_melted['Food_Items'].unique())

['Cordillera Administrative region' 'Region XIII' 'Region VI' 'Region V'
 'Region III' 'Autonomous region in Muslim Mindanao' 'Region IV-A'
 'Region VIII' 'Region VII' 'Region X' 'Region II' 'Region IV-B'
 'Region XII' 'Region XI' 'Region I' 'National Capital region' 'Region IX'
 'Market Average']
['Abra' 'Agusan del Norte' 'Agusan del Sur' 'Aklan' 'Albay' 'Antique'
 'Apayao' 'Aurora' 'Benguet' 'Basilan' 'Bataan' 'Batangas' 'Biliran'
 'Bohol' 'Bukidnon' 'Bulacan' 'Nueva Ecija' 'Cagayan' 'Misamis Oriental'
 'Oriental Mindoro' 'Camarines Norte' 'Masbate' 'Camiguin' 'Capiz'
 'Catanduanes' 'Southern Leyte' 'Cavite' 'Cebu' 'North Cotabato'
 'Maguindanao' 'Davao del Sur' 'Compostela Valley' 'Davao del Norte'
 'Davao Oriental' 'Dinagat Islands' 'Eastern Samar' 'Guimaras' 'Ifugao'
 'Ilocos Norte' 'Ilocos Sur' 'Iloilo' 'Isabela' 'Kalinga' 'South Cotabato'
 'La Union' 'Laguna' 'Lanao del Norte' 'Lanao del Sur' 'Leyte'
 'Pangasinan' 'Marinduque' 'Metropolitan Manila' 'Misamis Occidental'
 'Mountain Province' 'Camarines Sur' 'Negros Occidental' 'Negros Oriental'
 'Northern Samar' 'Nueva Vizcaya' 'Occidental Mindoro' 'Palawan' 'Quezon'
 'Quirino' 'Rizal' 'Romblon' 'Samar' 'Sarangani' 'Siquijor' 'Sorsogon'
 'Sultan Kudarat' 'Sulu' 'Surigao del Norte' 'Surigao del Sur' 'Tarlac'
 'Tawi-Tawi' 'Zambales' 'Zamboanga del Sur' 'Zamboanga del Norte'
 'Zamboanga Sibugay' 'Market Average']
['Abra' 'Agusan del Norte' 'Agusan del Sur' 'Aklan' 'Albay' 'Antique'
 'Apayao' 'Aurora' 'Baguio City' 'Basilan' 'Bataan' 'Batangas'
 'Batangas City' 'Benguet' 'Biliran' 'Bohol' 'Bukidnon' 'Bulacan'
 'Butuan City' 'Cabanatuan City' 'Cagayan' 'Cagayan de Oro City'
 'Calapan City' 'Camarines Norte' 'Camarines Sur' 'Camiguin' 'Capiz'
 'Catanduanes' 'Catarman' 'Cavite' 'Cebu' 'Cebu City' 'Cotabato'
 'Cotabato City' 'Davao City' 'Davao de Oro' 'Davao del Norte'
 'Davao del Sur' 'Davao Occidental' 'Davao Oriental' 'Dinagat Islands'
 'Eastern Samar' 'Guimaras' 'Ifugao' 'Ilocos Norte' 'Ilocos Sur' 'Iloilo'
 'Iloilo City' 'Isabela' 'Kalinga' 'Kidapawan City' 'Koronadal'
 'La Trinidad' 'La Union (Ilocos Region)' 'Laguna' 'Lanao del Norte'
 'Lanao del Sur' 'Legazpi City' 'Leyte' 'Lingayen' 'Maguindanao'
 'Marinduque' 'Masbate' 'Metro Manila' 'Misamis Occidental'
 'Misamis Oriental' 'Mountain Province' 'Naga City' 'Negros Occidental'
 'Negros Oriental' 'Northern Samar' 'Nueva Ecija' 'Nueva Vizcaya'
 'Occidental Mindoro' 'Oriental Mindoro' 'Palawan' 'Palayan' 'Pampanga'
 'Pangasinan' 'Puerto Princesa' 'Quezon' 'Quirino' 'Rizal' 'Romblon'
 'Samar' 'San Fernando City' 'Santa Cruz' 'Sarangani' 'Shariff Aguak'
 'Siquijor' 'Sorsogon' 'South Cotabato' 'Southern Leyte' 'Sultan Kudarat'
 'Sulu' 'Surigao del Norte' 'Surigao del Sur' 'Tacloban City' 'Tandag'
 'Tarlac' 'Tawi-Tawi' 'Tubod' 'Tuguegarao City' 'Zambales'
 'Zamboanga City' 'Zamboanga del Norte' 'Zamboanga del Sur'
 'Zamboanga Sibugay' 'Market Average']
['beans' 'cabbage' 'carrots' 'eggs' 'garlic' 'meat_beef_chops'
 'meat_chicken_whole' 'meat_pork' 'onions' 'potatoes' 'rice' 'tomatoes'
 'o_beans' 'h_beans' 'l_beans' 'c_beans' 'o_cabbage' 'h_cabbage'
 'l_cabbage' 'c_cabbage' 'o_carrots' 'h_carrots' 'l_carrots' 'c_carrots'
 'o_eggs' 'h_eggs' 'l_eggs' 'c_eggs' 'o_garlic' 'h_garlic' 'l_garlic'
 'c_garlic' 'o_meat_beef_chops' 'h_meat_beef_chops' 'l_meat_beef_chops'
 'c_meat_beef_chops' 'o_meat_chicken_whole' 'h_meat_chicken_whole'
 'l_meat_chicken_whole' 'c_meat_chicken_whole' 'o_meat_pork' 'h_meat_pork'
 'l_meat_pork' 'c_meat_pork' 'o_onions' 'h_onions' 'l_onions' 'c_onions'
 'o_potatoes' 'h_potatoes' 'l_potatoes' 'c_potatoes' 'o_rice' 'h_rice'
 'l_rice' 'c_rice' 'o_tomatoes' 'h_tomatoes' 'l_tomatoes' 'c_tomatoes']

#### Measures of Central Tendency

In [120]:
grouped = df_melted.groupby(['year', 'Region', 'Province', 'City', 'Food_Items'])

##### mean and median

In [121]:
central_tendency = grouped['Price'].agg(['mean', 'median']).reset_index()
print(central_tendency)

        year                                Region         Province     City  \
0       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
1       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
2       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
3       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
4       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
...      ...                                   ...              ...      ...
124255  2025                           Region XIII  Surigao del Sur   Tandag
124256  2025                           Region XIII  Surigao del Sur   Tandag
124257  2025                           Region XIII  Surigao del Sur   Tandag
124258  2025                           Region XIII  Surigao del Sur   Tandag
124259  2025                           Region XIII  Surigao del Sur   Tandag

        Food_Items       mean  median
0            beans        NaN     NaN
1          c_beans  74.937500  74.850
2        c_cabbage  40.043333  39.990
3        c_carrots  50.222500  49.880
4           c_eggs   4.297500   4.285
...            ...        ...     ...
124255  o_tomatoes  76.480000  76.480
124256      onions        NaN     NaN
124257    potatoes        NaN     NaN
124258        rice        NaN     NaN
124259    tomatoes        NaN     NaN

[124260 rows x 7 columns]

##### mode

In [122]:
#calculate mode
def calculate_mode(series):
    # Drop NaN values
    valid_values = series.dropna()
    
    if valid_values.empty:  # If no valid values, return NaN
        return np.nan
    
    # Compute the mode
    result = mode(valid_values)
    
    # Handle cases where result.mode might be scalar
    if isinstance(result.mode, np.ndarray) and len(result.mode) > 0:
        return result.mode[0]
    elif np.isscalar(result.mode):  # For scalar mode
        return result.mode
    else:
        return np.nan

central_tendency['Mode'] = grouped['Price'].transform(calculate_mode)

In [123]:
print(central_tendency)

        year                                Region         Province     City  \
0       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
1       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
2       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
3       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
4       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
...      ...                                   ...              ...      ...
124255  2025                           Region XIII  Surigao del Sur   Tandag
124256  2025                           Region XIII  Surigao del Sur   Tandag
124257  2025                           Region XIII  Surigao del Sur   Tandag
124258  2025                           Region XIII  Surigao del Sur   Tandag
124259  2025                           Region XIII  Surigao del Sur   Tandag

        Food_Items       mean  median  Mode
0            beans        NaN     NaN   NaN
1          c_beans  74.937500  74.850   NaN
2        c_cabbage  40.043333  39.990   NaN
3        c_carrots  50.222500  49.880   NaN
4           c_eggs   4.297500   4.285   NaN
...            ...        ...     ...   ...
124255  o_tomatoes  76.480000  76.480   NaN
124256      onions        NaN     NaN   NaN
124257    potatoes        NaN     NaN   NaN
124258        rice        NaN     NaN   NaN
124259    tomatoes        NaN     NaN   NaN

[124260 rows x 8 columns]

#### Measures of Dispersion

##### Range

In [124]:
range_df = grouped['Price'].agg(lambda x: x.max() - x.min()).reset_index()
range_df.rename(columns={'Price': 'Range'}, inplace=True)

##### Variance and Standard Deviation

In [125]:
dispersion_df = grouped['Price'].agg(['var', 'std']).reset_index()
dispersion_df.rename(columns={'var': 'Variance', 'std': 'Standard Deviation'}, inplace=True)

##### Interquartile Range

In [126]:
def compute_iqr(series):
    q1 = series.quantile(0.25)
    q3 = series.quantile(0.75)
    return q3 - q1

iqr_df = grouped['Price'].agg(compute_iqr).reset_index()
iqr_df.rename(columns={'Price': 'IQR'}, inplace=True)

##### combine all into one DataFrame

In [128]:
range_merge_df = pd.merge(central_tendency, range_df, on=['year', 'Region', 'Province', 'City', 'Food_Items'])
dispersion_merge_df = pd.merge(range_merge_df, dispersion_df, on=['year', 'Region', 'Province', 'City', 'Food_Items'])
final_eda_df = pd.merge(dispersion_merge_df, iqr_df, on=['year', 'Region', 'Province', 'City', 'Food_Items'])

In [129]:
print(final_eda_df)

        year                                Region         Province     City  \
0       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
1       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
2       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
3       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
4       2007  Autonomous region in Muslim Mindanao          Basilan  Basilan
...      ...                                   ...              ...      ...
124255  2025                           Region XIII  Surigao del Sur   Tandag
124256  2025                           Region XIII  Surigao del Sur   Tandag
124257  2025                           Region XIII  Surigao del Sur   Tandag
124258  2025                           Region XIII  Surigao del Sur   Tandag
124259  2025                           Region XIII  Surigao del Sur   Tandag

        Food_Items       mean  median  Mode  Range  Variance  \
0            beans        NaN     NaN   NaN    NaN       NaN
1          c_beans  74.937500  74.850   NaN   1.73  0.414093
2        c_cabbage  40.043333  39.990   NaN   4.29  2.478515
3        c_carrots  50.222500  49.880   NaN   6.81  4.047057
4           c_eggs   4.297500   4.285   NaN   0.17  0.002366
...            ...        ...     ...   ...    ...       ...
124255  o_tomatoes  76.480000  76.480   NaN   0.00       NaN
124256      onions        NaN     NaN   NaN    NaN       NaN
124257    potatoes        NaN     NaN   NaN    NaN       NaN
124258        rice        NaN     NaN   NaN    NaN       NaN
124259    tomatoes        NaN     NaN   NaN    NaN       NaN

        Standard Deviation     IQR
0                      NaN     NaN
1                 0.643501  1.1250
2                 1.574330  2.8900
3                 2.011730  3.0375
4                 0.048641  0.0625
...                    ...     ...
124255                 NaN  0.0000
124256                 NaN     NaN
124257                 NaN     NaN
124258                 NaN     NaN
124259                 NaN     NaN

[124260 rows x 12 columns]

In [130]:
# Save cleaned data to a CSV file
final_eda_df.to_csv("eda_results.csv", index=False)